name: main
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
jobs:
  build-and-test:
    runs-on: ubuntu-latest
    name: Build and test
    steps:
      - uses: styfle/cancel-workflow-action@0.6.0
        with:
          access_token: ${{ github.token }}

      - uses: actions/checkout@v1

      - uses: actions/setup-node@v2
        with:
          node-version: 18

      - run: yarn install
      - run: cd ./dev/cm5 && yarn install
      - run: yarn run build
      - run: yarn run testAll
